* {
    margin: 0;
    padding: 0;
    font-family: cursive;
  }


body {
    background-color: lightgray;
}
.nav-bar
{
display: flexbox;
flex-wrap: wrap;
padding: 20px;
margin: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: rgb(47, 46, 131);
border-color: gray;
border-width: 10px;
border-style: solid;
}

header {
    padding: 10px 15px 20px 25px;
  }


ul
{
    display: inline-flex;
    padding: 8px;
}

nav li {
margin: 20px;
float: right;
display: inline;


}


.nav-headers
{


color: rgb(123, 123, 148);

}

section {
    padding: 60px;
}