body, h1,h2,h3,h4,h5,h6 {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.w3-row-padding img {
margin-bottom: 12px
}
#proj-buttons {
margin-top: 10px;
}
#main {
margin-left: 120px
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px)
{#main {margin-left: 0}}